.icon-default, .folder-open-primary-color {
    color: var(--primary-color);
}

.sparkles-pink {
    color: #D1629B;
}

.folder-gray {
    color: #708090;
}

.code-orange, .file-check-orange {
    color: orange;
}

.file-blue {
    color: #0067ee;
}

.json-yellon {
    color: yellow;
}
