
<form class="flex items-center gap-1" [formGroup]="formTask" > 
    <div class="formgrid grid">
        <div class="field col-12 md:col-3">
            <label for="name" class="required" >Nome da Tarefa</label>
            <input 
                class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                type="text" 
                id="name" 
                formControlName="name"
            >
            <p-message *ngIf="isFieldInvalid('name')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('name') }}
            </p-message>
        </div>
        <div class="field col-12 md:col-3">
            <label for="priority" class="required" >Prioridade</label>
            <select 
                class="w-full text-base text-color p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" 
                style="appearance: auto"
                id="priority" 
                formControlName="priority"
            >
                <option value="" disabled selected ></option>
                <option value="Baixa" >Baixa</option>
                <option value="Média" >Média</option>
                <option value="Alta" >Alta</option>
                <option value="Urgente">Urgente</option>
            </select>
            <p-message *ngIf="isFieldInvalid('priority')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('priority') }}
            </p-message>
        </div>
        <div class="field col-12 md:col-3">
            <label for="status" class="required" >Status</label>
            <select 
                class="w-full text-base text-color p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" 
                style="appearance: auto"
                id="status" 
                formControlName="status"
            >
                <option value="" disabled selected ></option>
                <option value="Pendente" >Pendente</option>
                <option value="Em Andamento" >Em Andamento</option>
                <option value="Concluída" >Concluída</option>
            </select>
            <p-message *ngIf="isFieldInvalid('status')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('status') }}
            </p-message>
        </div>
        <div class="field col-12 md:col-3">
            <label for="dtExpiration">Data de vencimento</label>
            <br>
            <p-datepicker 
                [(ngModel)]="dtExpiration" 
                [iconDisplay]="'input'" 
                [showIcon]="true" 
                inputId="dtExpiration" 
                formControlName="dtExpiration" 
                dateFormat="dd/mm/yy"
            />
            <p-message *ngIf="isFieldInvalid('dtExpiration')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('dtExpiration') }}
            </p-message>
        </div>

        <div class="field col-12 md:col-3">
            <label for="responsibleUser" >Usuário responsável</label>
            <input 
                class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                type="text" 
                id="responsibleUser" 
                formControlName="responsibleUser"
            >
            <p-message *ngIf="isFieldInvalid('responsibleUser')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('responsibleUser') }}
            </p-message>
        </div>
        <div class="field col-12 md:col-3">
            <label for="noDependencie" class="required" >Dependência de uma tarefa cadastrada? </label>
            <div class="flex items-center">
                <p-radiobutton formControlName="dependencie" [value]="false" [(ngModel)]="checked" inputId="noDependencie" />
                <label for="noDependencie" class="ml-2">Não</label>
            </div>
            <div class="flex items-center">
                <p-radiobutton formControlName="dependencie" [value]="true" [(ngModel)]="checked" inputId="yesDependencie" />
                <label for="yesDependencie" class="ml-2">Sim</label>
            </div>
            <p-message *ngIf="isFieldInvalid('dependencie')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('dependencie') }}
            </p-message>
        </div>
        <div class="field col-12 md:col-3" *ngIf="formTask.get('dependencie')?.value === true" >
            <label for="yesIdTaskDependencie" class="required" >Tarefas cadastradas</label>
            <select 
                class="w-full text-base text-color p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" 
                style="appearance: auto"
                id="yesIdTaskDependencie" 
                formControlName="yesIdTaskDependencie"
            >
                <option value="" disabled selected ></option>
                <option *ngFor="let task of listTasks" [value]="task.id" > {{task.name}} </option>
            </select>
            <p-message *ngIf="listTasks.length === 0" severity="warn" variant="simple" size="small" icon="pi pi-exclamation-circle">
                Nenhuma tarefa cadastrada.
            </p-message>
            <p-message *ngIf="isFieldInvalid('yesIdTaskDependencie')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('yesIdTaskDependencie') }}
            </p-message>
        </div>

        <div class="field col-12">
            <label for="description" >Descrição</label>
            <textarea 
                class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                type="text" 
                rows="4" 
                id="description" 
                formControlName="description"
                maxlength="1000"
            ></textarea>
            <small id="description-help">Limite de {{ countCaracteresDescription }} caracteres</small>
            <p-message *ngIf="isFieldInvalid('description')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('description') }}
            </p-message>
        </div>

        <div class="field col-12 mt-2 mb-0" *ngIf="formTask.invalid === true && formTask.touched">
            <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-2">Preencher os campos do formulário corretamente</p-message>
        </div>

        <div class="flex flex-row flex-wrap mt-2">
            <p-button 
                class="m-2" 
                label="Cadastrar" 
                [rounded]="true" 
                icon="pi pi-save"
                (onClick)="onSubmitFormTaskCreate(this.formTask.value)"
            />
            <p-button 
                class="m-2" 
                label="Limpar" 
                [rounded]="true" 
                icon="pi pi-trash" 
                severity="secondary" 
                (onClick)="onClear()"
            />
        </div>

    </div>
</form>

<p-toast />
