
<form class="flex items-center gap-1" [formGroup]="formTask" > 
    <div class="formgrid grid">
        <div class="field col-12 md:col-3">
            <label for="inName" class="required" >Nome da Tarefa</label>
            <input 
                class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                type="text" 
                id="inName" 
                formControlName="inName"
            >
            <p-message *ngIf="isFieldInvalid('inName')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('inName') }}
            </p-message>
        </div>
        <div class="field col-12 md:col-3">
            <label for="inPriority" class="required" >Prioridade</label>
            <select 
                class="w-full text-base text-color p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" 
                style="appearance: auto"
                id="inPriority" 
                formControlName="inPriority"
            >
                <option></option>
                <option value="Baixa" >Baixa</option>
                <option value="Média" >Média</option>
                <option value="Alta" >Alta</option>
                <option value="Urgente">Urgente</option>
            </select>
            <p-message *ngIf="isFieldInvalid('inPriority')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('inPriority') }}
            </p-message>
        </div>
        <div class="field col-12 md:col-3">
            <label for="inStatus" class="required" >Status</label>
            <select 
                class="w-full text-base text-color p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" 
                style="appearance: auto"
                id="inStatus" 
                formControlName="inStatus"
            >
                <option></option>
                <option value="Pendente" >Pendente</option>
                <option value="Em Andamento" >Em Andamento</option>
                <option value="Concluída" >Concluída</option>
            </select>
            <p-message *ngIf="isFieldInvalid('inStatus')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('inStatus') }}
            </p-message>
        </div>
        <div class="field col-12 md:col-3">
            <label for="inDtExpiration">Data de vencimento</label>
            <br>
            <p-datepicker 
                [(ngModel)]="dtExpiration" 
                [iconDisplay]="'input'" 
                [showIcon]="true" 
                inputId="inDtExpiration" 
                formControlName="inDtExpiration" 
                dateFormat="dd/mm/yy"
            />
            <p-message *ngIf="isFieldInvalid('inDtExpiration')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('inDtExpiration') }}
            </p-message>
        </div>

        <div class="field col-12 md:col-3">
            <label for="inResponsibleUser" >Usuário responsável</label>
            <input 
                class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                type="text" 
                id="inResponsibleUser" 
                formControlName="inResponsibleUser"
            >
            <p-message *ngIf="isFieldInvalid('inResponsibleUser')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('inResponsibleUser') }}
            </p-message>
        </div>
        <div class="field col-12 md:col-3">
            <label for="inNoDependencie" class="required" >Dependência de uma tarefa cadastrada? </label>
            <div class="flex items-center">
                <p-radiobutton formControlName="inDependencie" [value]="false" [(ngModel)]="checked" inputId="inNoDependencie" />
                <label for="inNoDependencie" class="ml-2">Não</label>
            </div>
            <div class="flex items-center">
                <p-radiobutton formControlName="inDependencie" [value]="true" [(ngModel)]="checked" inputId="inYesDependencie" />
                <label for="inYesDependencie" class="ml-2">Sim</label>
            </div>
            <p-message *ngIf="isFieldInvalid('inDependencie')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('inDependencie') }}
            </p-message>
        </div>
        <div class="field col-12 md:col-3" *ngIf="formTask.get('inDependencie')?.value === true" >
            <label for="inYesTaskDependencie" class="required" >Tarefas cadastradas</label>
            <select 
                class="w-full text-base text-color p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" 
                style="appearance: auto"
                id="inYesTaskDependencie" 
                formControlName="inYesTaskDependencie"
            >
                <option></option>
                <option value="Tarefa 1" >Tarefa 1</option>
                <option value="Tarefa 2" >Tarefa 2</option>
                <option value="Tarefa 3" >Tarefa 3</option>
            </select>
            <p-message *ngIf="isFieldInvalid('inYesTaskDependencie')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('inYesTaskDependencie') }}
            </p-message>
        </div>

        <div class="field col-12">
            <label for="inDescription" >Descrição</label>
            <textarea 
                class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                type="text" 
                rows="4" 
                id="inDescription" 
                formControlName="inDescription"
                maxlength="1000"
            ></textarea>
            <small id="description-help">Limite de {{ countCaracteresDescription }} caracteres</small>
            <p-message *ngIf="isFieldInvalid('inDescription')" severity="error" variant="simple" size="small">
                {{ getErrorMessage('inDescription') }}
            </p-message>
        </div>

        <div class="field col-12 mt-2 mb-0" *ngIf="formTask.invalid === true && formTask.touched">
            <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-2">Preencher os campos do formulário corretamente</p-message>
        </div>

        <div class="flex flex-row flex-wrap mt-2">
            <p-button 
                class="m-2" 
                label="Cadastrar" 
                [rounded]="true" 
                icon="pi pi-save"
                (onClick)="onSubmitFormTask(this.formTask.value)"
            />
            <p-button 
                class="m-2" 
                label="Limpar" 
                [rounded]="true" 
                icon="pi pi-trash" 
                severity="secondary" 
                (onClick)="onClear()"
            />
        </div>

    </div>
</form>

<pre>
    {{ formTask.value | json }}
</pre>