<div class="card">
    <div class="font-semibold text-xl mb-4">Listar Tarefas</div>
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
</div>

<div class="card">
    <div class="font-semibold text-xl mb-4">Filtros</div>
    <app-form-list-filter></app-form-list-filter>
</div>

<div class="card">
    <div class="font-semibold text-xl mb-4">Registros</div>
    
    <p>Lista ordenada por ordem de Prioridade e depois por Status.</p>

    <p-table [value]="tasks" showGridlines [(selection)]="selectedTasks" dataKey="id" [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th style="width: 180px;">
                    Ações
                </th>
                <th pSortableColumn="id" >
                    ID <p-sortIcon field="id" />
                </th>
                <th pSortableColumn="name" >
                    Tarefa <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="idPriority" >
                    Prioridade <p-sortIcon field="idPriority" />
                </th>
                <th pSortableColumn="idStatus" >
                    Status <p-sortIcon field="idStatus" />
                </th>
                <th pSortableColumn="dtExpiration" >
                    Data de vencimento <p-sortIcon field="dtExpiration" />
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-task>
            <tr>
                <td>
                    <p-tableCheckbox [value]="task" />
                </td>
                <td>
                    <div class="flex flex-wrap gap-1">
                        <p-button 
                            icon="pi pi-file-o" severity="info" [rounded]="true" 
                            pTooltip="Visualizar Registro" tooltipPosition="top" placeholder="Top"
                        />
                        <p-button 
                            icon="pi pi-file-edit" severity="warn" [rounded]="true" 
                            pTooltip="Editar Registro" tooltipPosition="top" placeholder="Top"
                        />
                        <p-button 
                            icon="pi pi-trash" severity="danger" [rounded]="true"
                            pTooltip="Excluir Registro" tooltipPosition="top" placeholder="Top"
                            (onClick)="deleteTask(task.id)"
                        />
                    </div>
                </td>
                <td>{{task.id}}</td>
                <td>{{task.name}}</td>
                <td>
                    <p [ngClass]="getPriority(task.idPriority, 'font-color')">
                        {{ getPriority(task.idPriority, 'namePriority') }} 
                    </p>
                </td>
                <td>
                    <p-message 
                        [icon]="getStatus(task.idStatus, 'icon')" 
                        [severity]="getStatus(task.idStatus, 'severity')" variant="simple"
                    >
                        {{ getStatus(task.idStatus, 'nameStatus') }} 
                    </p-message>
                </td>
                <td>
                    <p>{{ task.dtExpiration | date:'dd/MM/yyyy' }} - <span class="font-bold">{{ calculateDaysUntil(task.dtExpiration) }}</span></p>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <pre>
        {{ selectedTasks | json }}
    </pre>

</div>

<p-toast />
<p-confirmdialog />