.max-width-height {
    max-width: 300px;
    max-height: 120px;
}

.mouse-houver {
    cursor: pointer;
}

.img-error {
    background-image: url('../../../../../assets/image/error.png');
    background-size: cover;
    width: 593px;
    height: 247px;
}

.grid-ajuste {
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem;
}