.icon {
    background-size: cover;
    width: 18px;
    height: 18px;
}

.bug {
    background-image: url('../../../../../assets/image/type-pokemon/bug.svg');
    color: #92BC2C;
    filter: invert(52%) sepia(100%) saturate(300%) hue-rotate(90deg);
}

.dark {
    background-image: url('../../../../../assets/image/type-pokemon/dark.svg');
    color: #595761;
    filter: invert(20%) sepia(10%) saturate(300%) hue-rotate(200deg);
}

.dragon {
    background-image: url('../../../../../assets/image/type-pokemon/dragon.svg');
    color: #0C69C8;
    filter: invert(30%) sepia(80%) saturate(300%) hue-rotate(180deg);
}

.electric {
    background-image: url('../../../../../assets/image/type-pokemon/electric.svg');
    color: #F2D94E;
    filter: invert(80%) sepia(60%) saturate(400%) hue-rotate(10deg);
}

.fire {
    background-image: url('../../../../../assets/image/type-pokemon/fire.svg');
    color: #FBA54C;
    filter: invert(60%) sepia(90%) saturate(300%) hue-rotate(15deg);
}

.fairy {
    background-image: url('../../../../../assets/image/type-pokemon/fairy.svg');
    color: #EE90E6;
    filter: invert(70%) sepia(50%) saturate(500%) hue-rotate(280deg);
}

.fighting {
    background-image: url('../../../../../assets/image/type-pokemon/fighting.svg');
    color: #D3425F;
    filter: invert(40%) sepia(90%) saturate(500%) hue-rotate(350deg);
}

.flying {
    background-image: url('../../../../../assets/image/type-pokemon/flying.svg');
    color: #A1BBEC;
    filter: invert(70%) sepia(30%) saturate(300%) hue-rotate(220deg);
}

.ghost {
    background-image: url('../../../../../assets/image/type-pokemon/ghost.svg');
    color: #5F6DBC;
    filter: invert(30%) sepia(50%) saturate(300%) hue-rotate(240deg);
}

.grass {
    background-image: url('../../../../../assets/image/type-pokemon/grass.svg');
    color: #5FBD58;
    filter: invert(50%) sepia(70%) saturate(400%) hue-rotate(90deg);
}

.ground {
    background-image: url('../../../../../assets/image/type-pokemon/ground.svg');
    color: #DA7C4D;
    filter: invert(50%) sepia(80%) saturate(400%) hue-rotate(20deg);
}

.ice {
    background-image: url('../../../../../assets/image/type-pokemon/ice.svg');
    color: #75D0C1;
    filter: invert(80%) sepia(40%) saturate(400%) hue-rotate(160deg);
}

.normal {
    background-image: url('../../../../../assets/image/type-pokemon/normal.svg');
    color: #A0A29F;
    filter: invert(50%) sepia(20%) saturate(200%) hue-rotate(50deg);
}

.poison {
    background-image: url('../../../../../assets/image/type-pokemon/poison.svg');
    color: #B763CF;
    filter: invert(50%) sepia(80%) saturate(500%) hue-rotate(270deg);
}

.psychic {
    background-image: url('../../../../../assets/image/type-pokemon/psychic.svg');
    color: #FA8581;
    filter: invert(60%) sepia(90%) saturate(400%) hue-rotate(10deg);
}

.rock {
    background-image: url('../../../../../assets/image/type-pokemon/rock.svg');
    color: #C9BB8A;
    filter: invert(60%) sepia(50%) saturate(300%) hue-rotate(30deg);
}

.steel {
    background-image: url('../../../../../assets/image/type-pokemon/steel.svg');
    color: #5695A3;
    filter: invert(40%) sepia(60%) saturate(400%) hue-rotate(180deg);
}

.water {
    background-image: url('../../../../../assets/image/type-pokemon/water.svg');
    color: #539DDF;
    filter: invert(50%) sepia(60%) saturate(400%) hue-rotate(200deg);
}