<p-fluid>
    <div class="flex mt-8">
        <div class="card flex flex-col gap-6 w-full">

            <div class="font-semibold text-xl">Filtros</div>

            <form [formGroup]="pokedexFormFilter" >
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="inNamePokemon">Pesquisar Pokemon</label>
                        <input 
                            pInputText 
                            type="text" 
                            id="inNamePokemon" 
                            formControlName="inNamePokemon"
                            placeholder="Nome"
                            [ngClass]="{ 'p-invalid' : isFieldInvalid('inNamePokemon') }"
                        />
                        <p-message *ngIf="isFieldInvalid('inNamePokemon')" severity="error" variant="simple" size="small">
                            {{ getErrorMessage('inNamePokemon') }}
                        </p-message>
                    </div>

                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="inTypePokemon">Tipos de Pokemon</label>
                        <p-select 
                            id="inTypePokemon"
                            formControlName="inTypePokemon"
                            [options]="typePokemons" 
                            optionLabel="name" 
                            [filter]="true" 
                            filterBy="name" 
                            showClear="true" 
                            placeholder="Selecione" 
                            class="w-full"
                            [ngClass]="{ 'ng-invalid' : isFieldInvalid('inTypePokemon') }"
                        >
                            <ng-template #selectedItem let-selectedOption>
                                <div class="flex items-center gap-2">
                                    <div [class]="'icon ' + selectedOption.class"></div>
                                    <div>{{ selectedOption.name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-selectedOption2 #item>
                                <div class="flex items-center gap-2">
                                    <div [class]="'icon ' + selectedOption2.class"></div>
                                    <div>{{ selectedOption2.name }}</div>
                                </div>
                            </ng-template>
                        </p-select>
                        <p-message *ngIf="isFieldInvalid('inTypePokemon')" severity="error" variant="simple" size="small">
                            {{ getErrorMessage('inTypePokemon') }}
                        </p-message>
                    </div>
                </div>
                
                <div class="flex flex-row flex-wrap mt-5">
                    <p-button 
                        class="m-2" 
                        label="Pesquisar" 
                        [rounded]="true" 
                        icon="pi pi-search"
                        (onClick)="onSubmitPokedexFormFilter(this.pokedexFormFilter.value)"
                    />
                    <p-button 
                        class="m-2" 
                        label="Limpar" 
                        [rounded]="true" 
                        icon="pi pi-trash" 
                        severity="secondary" 
                        (onClick)="onClearFormFilter()"
                    />
                </div>
            </form>

        </div>
    </div>
</p-fluid>

<p-toast />
